.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 40vh;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: darkslategrey;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.weather-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.wind-direction-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  position: relative;
}

.wind-direction-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
}

.circle {
  height: 150px;
  width: 150px;
  border: 4px solid black;
  border-radius: 50%;
  position: relative;
}

.label {
  position: absolute;
  font-size: 1.5rem;
}

.north {
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
}

.east {
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
}

.south {
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
}

.west {
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
}

.triangle {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid navy;
  position: absolute;
}

.circle-indicator { /* Styles for the new circle indicator */
  position: absolute;
  background-color: darkslategray; /* Or any color you prefer */
  border-radius: 50%; /* Make it a circle */
}

.center-labels {  /* Styles for the new container */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the labels */
  display: flex;
  flex-direction: column; /* Stack speed above direction */
  align-items: center;
  font-size: 1.2rem;
}

.differences {
  display: flex;
  flex-direction: column;
  margin-right: 30px; /* Add some space between the differences and the current temperature */
  font-size: 1.5rem;
}

.diff-container { /* Styles for the new container */
  display: flex;
  align-items: center; /* Vertically align the diffs and arrow */
}

.temp-diffs {
  /* Add some margin to separate the diffs from the arrow */
  margin-right: 10px; 
}

.arrow-container {
  /* No specific styles needed here, but you can add if required */
}